<p>
<strong>Título:</strong>
<%= @article.title %>
</p>

<p>
<strong>Texto:</strong>
<%= @article.text %>
</p>

<p>
<strong>Publicação:</strong>
<%= @article.pub %>
</p>
<%= link_to 'Editar', edit_article_path(@article) %>
<%= link_to 'Voltar', articles_path %>