<p>
<strong>Título:</strong>
<%= @livro.title %>
</p>

<p>
<strong>Texto:</strong>
<%= @livro.text %>
</p>

<p>
<strong>Publicação:</strong>
<%= @livro.pub %>
</p>
<%= link_to 'Editar', edit_article_path(@livro), class: 'btn btn-primary btn-lg active' %>
<%= link_to 'Voltar', articles_path, class: 'btn btn-primary btn-lg active' %>
